
<%- layout('layouts/boilerplate') %> 

<div class="row">
    <div class="col-6 offset-3" style="width: auto; margin: auto;" >
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error! <%= err.message %> </h4>
            <%= if (process.env.NODE_ENV !== "production"){ %>

                <%= err.stack %> 
            <% } %> 


           
          </div>
    </div>
</div>
